{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
      <div class="countdown-flipper">
        <div class="wrapper hidden" id="countdown-flipper" data-is-active="false"></div>
        <a class="btn-primary btn-lg" href="#">Register for Precond 2024! (coming soon)</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<!-- Organizers -->
{{ components.section("Invited Speakers") }}
{{ components.organizergroup(committee) }}


{{ readme | markdown }}

{% endblock %}
